.github/
.yarn/
.cargo/
npm/
__test__/
whisper/
artifacts/
bindings/
src/
target/
.gitmodules
.eslintrc
.prettierignore
Cargo.lock
Cargo.toml
rustfmt.toml
yarn.lock
renovate.json
wrapper.h
*.rs
*.node